body {
  background: white;
  font: 11pt/1.5 arial, sans-serif;
  margin: 0;
  padding: 0;
}

#accessibilite {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#recherche_simple {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#connexion {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#navigation {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#acces_direct {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

hr.separateur_sections_page {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

div.encadre_recherche {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

.outils_fiche {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#sur_bandeau {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#reseaux_sociaux_top {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#bandeau_page {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#bandeau_mobile {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#redacteur {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#commentaires_afficher {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#commentaires_reponse {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#date_modification {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#plan_site {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#logo_pied {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#logos_ecoles {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#sous_bandeau {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#language_top {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#language_bottom {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

#slogan {
  display: none !important;
  height: 0 !important;
  left: -9000px !important;
  overflow: hidden !important;
  position: absolute !important;
  top: -9000px !important;
  visibility: hidden !important;
  width: 0 !important;
}

*[style] {
  background: inherit !important;
  border: none !important;
  color: inherit !important;
  margin: auto !important;
  width: auto !important;
}

#avec_nav_avec_encadres {
  border: none !important;
  margin: 20pt 0;
  width: 100% !important;
}

#avec_nav_sans_encadres {
  border: none !important;
  margin: 20pt 0;
  width: 100% !important;
}

#sans_nav_avec_encadres {
  border: none !important;
  margin: 20pt 0;
  width: 100% !important;
}

#sans_nav_sans_encadres {
  border: none !important;
  margin: 20pt 0;
  width: 100% !important;
}

#pied_page {
  border-top: 1pt solid #666;
  display: none;
  margin-top: 10pt;
  padding-top: 5pt;
}

.contenu {
  color: #58585B;
}
.contenu h1, .contenu .h1,
.contenu h2, .contenu .h2,
.contenu h3, .contenu .h3 {
  font-family: "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
}
.contenu h1, .contenu .h1,
.contenu h2, .contenu .h2,
.contenu h3, .contenu .h3,
.contenu h4, .contenu .h4,
.contenu h5, .contenu .h5,
.contenu h6, .contenu .h6 {
  color: black;
  margin: 2pt 0;
}
.contenu a {
  color: black;
  text-decoration: underline;
}

a img {
  border: none;
}

h1 {
  margin-top: 0;
  padding-top: 0;
}

ul {
  margin: 0;
}

#logo {
  border: none;
  color: #000;
  text-decoration: none;
}
#logo img {
  width: 3cm;
}

#titre {
  font-family: "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
}

#annuaireksup_photo img {
  float: right;
  position: relative;
  top: -50pt;
}
#annuaireksup_photo ul {
  margin: 0;
  padding: 0;
}
#annuaireksup_photo ul li {
  list-style-type: none;
}

#fonction {
  font-family: "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  font-style: normal;
  color: #007798;
}

#structure a {
  color: #007798;
  text-decoration: none;
}

h1,
h2 {
  border-bottom: 1pt solid #666;
  padding: 5pt 0;
}

ul.objets {
  list-style: none;
}
ul.objets li {
  clear: both;
  display: block;
  float: none;
  margin: 0 0 7pt;
  overflow: auto;
}
ul.objets img.vignette {
  border: 1pt solid #999;
  float: left;
  margin: 0 3pt 0 0;
}

#encadres {
  border: none !important;
  margin-bottom: 1cm;
}
#encadres > *[class^="encadre_"] {
  background: #f2f2f2;
  border: 2pt solid #C7C8CA;
  margin-bottom: 1cm;
  padding: 0 0.5cm 0.5cm;
}
#encadres > *[class^="encadre_"] h2 {
  border-bottom: 2pt solid #949598;
  color: #414143;
  font-family: "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  text-transform: uppercase;
}

/* dl {
	border:1pt solid #666;
	padding:10pt;
} */
dt {
  font-weight: 700;
}

dd {
  margin-bottom: 15pt;
}

caption {
  font-weight: 700;
}

#coordonnees {
  border-top: 2pt solid #414143;
  padding-top: .5cm;
}
#coordonnees address {
  color: #58585B;
  font-style: normal;
}
#coordonnees address strong,
#coordonnees address span[lang] {
  color: black;
  font: 13pt "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  font-weight: bold;
}

#reseaux_sociaux > strong {
  display: none;
}
#reseaux_sociaux ul {
  padding: 0;
}
#reseaux_sociaux ul li {
  display: inline-block;
  font-size: 13pt;
  list-style-type: none;
  width: 1cm;
}
#reseaux_sociaux ul li a {
  color: #58585B;
  text-decoration: none;
}
#reseaux_sociaux ul li a span {
  display: none;
}

#lien_suivez_nous a {
  color: #58585B;
  text-decoration: none;
}
#lien_suivez_nous a strong {
  display: inline-block;
}

#menu_principal {
  border-top: 2pt solid #939598;
  display: inline-block;
  font: 0.85em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  left: 3.5cm;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 25pt;
}
#menu_principal li {
  display: inline-block;
  text-align: center;
  width: 16%;
}
#menu_principal li:first-child {
  border: none;
}
#menu_principal ul {
  display: none;
  padding: 0;
}
#menu_principal ul li {
  display: inline;
  padding: 0;
}
#menu_principal em {
  font-style: normal;
}
#menu_principal a {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  color: #414142;
  display: inline-block;
  margin: 0.5em;
  text-decoration: none;
  width: auto;
}
#menu_principal em a {
  background: none;
  border-bottom: 1px solid #86b7cc;
}

.google-maps {
  margin-bottom: 3.5em;
  page-break-inside: avoid;
}
.google-maps img {
  display: block;
  max-width: 64em;
  z-index: 1;
}
.google-maps footer {
  border: none !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: .25em 1em;
  position: relative;
  max-width: 64em;
  z-index: 0;
}
.google-maps footer dl {
  display: block;
  margin-top: 3em;
}
.google-maps footer dl dt,
.google-maps footer dl dd {
  display: block;
}
.google-maps footer dl dt {
  float: left;
  width: 2em;
}
.google-maps footer dl dt span {
  background: #FF646C;
  border: 1px solid #AA2128;
  border-radius: 100%;
  color: black;
  display: inline-block;
  font-weight: normal;
  font: 0.9em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  height: 1.3em;
  line-height: 1.3em;
  text-align: center;
  width: 1.3em;
}
.google-maps footer dl dd {
  cursor: pointer;
}
.google-maps footer dl dd span {
  display: block;
}
.google-maps footer dl dd a {
  display: none;
}
.google-maps footer dl dd + dt {
  margin-top: 1em;
}
.google-maps footer dl dd + dt + dd {
  margin-top: 1em;
}
.google-maps .map-canvas {
  height: 24em;
  max-width: 64em;
}

div.hsep {
  border-bottom: 1px solid #D7D8DA;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

*[data-ui=tabs] *[data-ui=tabs-container] {
  display: none;
}
*[data-ui=tabs] *[data-ui=tabs-container]:target {
  display: block;
}
*[data-ui=tabs] *[data-ui=tabs-container].tabs-state-active {
  display: block;
}
*[data-ui=tabs] *[data-ui=tabs-container][data-ui-state=tabs-tab-active] {
  display: block;
}
*[data-ui=tabs] *[data-ui=tabs-header] *[data-ui=tab-triggerer] {
  display: none;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal {
  display: table;
  margin-bottom: 1.5em;
  padding: 0;
  width: 100%;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal li {
  display: table-cell;
  list-style-type: none;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab] {
  background: #f1f1f1;
  border: 1px solid #c8c8c8;
  color: black;
  display: inline-block;
  font: 1.25em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  height: 2.90000em;
  line-height: 2.90000em;
  outline: none;
  text-align: center;
  width: 100%;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab].tabs-state-active, *[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab][data-ui-state="tabs-tab-active"] {
  background: white;
  background-color: white;
  border-bottom: 2px solid white;
  color: #007798;
  text-decoration: underline;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab].tabs-state-active::before, *[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab][data-ui-state="tabs-tab-active"]::before {
  display: inline-block;
  text-decoration: none !important;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab]::before {
  content: "\e617";
  display: inline-block;
  font-family: 'GINP';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 10px;
  speak: none;
  text-decoration: none !important;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
*[data-ui=tabs] *[data-ui=tabs-header].horizontal li *[data-ui=tabs-tab]:hover::before {
  content: "\e617";
  display: inline-block;
  font-family: 'GINP';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-right: 10px;
  speak: none;
  text-decoration: none !important;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

ul.big_list {
  background: #f1f1f1;
  border-top: 1pt solid #dedede;
  border-left: 1pt solid #dedede;
  border-right: 1pt solid #dedede;
  color: #58595b;
  margin-bottom: 1em;
  padding: 0;
}
ul.big_list > li {
  border-bottom: 1pt solid #dedede;
  list-style-type: none;
  padding: 1.25em 0.625em;
  position: relative;
}
ul.big_list > li h1, ul.big_list > li .h1,
ul.big_list > li h2, ul.big_list > li .h2,
ul.big_list > li h3, ul.big_list > li .h3,
ul.big_list > li h4, ul.big_list > li .h4,
ul.big_list > li h5, ul.big_list > li .h5,
ul.big_list > li h6, ul.big_list > li .h6 {
  color: black;
}
ul.big_list > li .element_deco {
  width: 100%;
}
ul.big_list > li span.label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  vertical-align: middle;
  width: 230px;
}
ul.big_list > li span.definition {
  display: block;
  margin-left: 250px;
  vertical-align: middle;
}
ul.big_list > li.details {
  font-size: 0.75000em;
  line-height: 1.15em;
}
ul.big_list > li.details div {
  display: block;
}
ul.big_list > li > div {
  display: inline-block;
  vertical-align: top;
}
ul.big_list > li > div.icone {
  width: 64px;
  margin-right: 0.625em;
}
ul.big_list > li > div.details {
  color: #535456;
}
ul.big_list > li > div.details > * {
  display: block;
}
ul.big_list > li > div.details > *.nom_fichier {
  color: black;
  font-size: 0.93750em;
}
ul.big_list > li > div.details > *.nom_fichier .taille_fichier {
  color: #535456;
  font-size: 0.80000em;
  font-weight: normal;
}
ul.big_list > li > div.details > *.type_fichier, ul.big_list > li > div.details > *.derniere_mise_a_jour, ul.big_list > li > div.details > *.note {
  font-size: 0.75000em;
  line-height: 1.15em;
}
ul.big_list > li > div.telechargement {
  position: absolute;
  right: 0.625em;
  text-align: center;
}
ul.big_list > li > div.telechargement *[class^="icon-"] {
  color: #414142;
  font-size: 2.5em;
  margin: 0;
}
ul.big_list > li > div.telechargement a {
  color: #535456;
  font-size: 0.75em;
}
ul.big_list > li > div.telechargement a:hover {
  text-decoration: none;
}
ul.big_list > li > div.telechargement a:hover div {
  text-decoration: underline;
}

#details_formation {
  width: 100%;
}
#details_formation ul {
  margin: 0;
  padding: 0;
}
#details_formation ul li {
  list-style-type: none;
}
#details_formation tr {
  display: table-row;
}
#details_formation tr td {
  display: table-cell;
  padding-top: 0;
  padding-bottom: 0;
}

#tableau_ueups {
  color: #58585B;
  margin-bottom: 3em;
  overflow-x: auto;
  overflow-y: hidden;
}
#tableau_ueups ul {
  padding: 0;
}
#tableau_ueups li {
  list-style-type: none;
}
#tableau_ueups > div {
  min-width: 36em;
}
#tableau_ueups header {
  background: #E7E7E8;
  border-bottom: 1px solid #C7C8CA;
  border-top: 1px solid #C7C8CA;
  margin-bottom: 1em;
  padding: .5em;
}
#tableau_ueups header div.fil_ariane {
  color: black !important;
}
#tableau_ueups header div.fil_ariane a {
  color: black !important;
}
#tableau_ueups header ul.semestres {
  display: none;
}
#tableau_ueups header ul.semestres li {
  display: inline;
  font: 1.5em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
}
#tableau_ueups header ul.semestres li a {
  color: black !important;
}
#tableau_ueups header ul.semestres li a:hover {
  text-decoration: underline;
}
#tableau_ueups header ul.semestres li.current {
  font: 1.5em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
#tableau_ueups header ul.semestres li::before {
  content: "|";
  display: inline-block;
  font-family: "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  padding: 0 .75em;
  text-decoration: none !important;
}
#tableau_ueups header ul.semestres li:first-child::before {
  content: "";
  padding: 0 0;
}
#tableau_ueups .entete_tableau {
  display: inline-block;
  position: relative;
  width: 100%;
}
#tableau_ueups .entete_tableau > span:first-child {
  bottom: 0;
  float: left;
  font-size: .875em;
  font-style: italic;
  padding-left: 1em;
  position: absolute;
  vertical-align: bottom;
}
#tableau_ueups .entete_tableau > span.details {
  display: block;
  float: right;
  margin-right: 2em;
  width: 150px;
}
#tableau_ueups .entete_tableau > span.details > span {
  display: inline-block;
  font-size: .875em;
  font-style: italic;
  text-align: right;
  vertical-align: bottom;
  width: 75px;
}
#tableau_ueups > div > ul.ueups > li > div.nom {
  background: #E7E7E8;
  border-bottom: 1px solid #007798;
  border-top: 1px solid #C7C8CA;
  color: #007798;
  font: 1.5em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  font-weight: bold;
  padding: .5em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li {
  margin-top: .5em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > div.nom {
  color: black;
  font: 1.5em "Arial Narrow", "Arial_Narrow", "ArialNarrow", "Arial-Narrow", arial, sans-serif;
  font-weight: bold;
  padding-left: .5em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups {
  border-bottom: 1px solid #C7C8CA;
  margin-bottom: -1px;
  padding-bottom: 1em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups > li > div.nom {
  color: black;
  font-weight: bold;
  margin-top: .5em;
  padding-left: 2.5em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours {
  padding-left: 3.5em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours > li {
  list-style-type: disc;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours > li > div.nom {
  float: left;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours > li > div.nom a {
  color: #58585B !important;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours > li > div.details {
  display: block;
  float: right;
  margin-right: 2em;
  width: 150px;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours > li > div.details > div.ects,
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.cours > li > div.details > div.volume_horaire {
  display: inline-block;
  text-align: right;
  width: 75px;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.ueups > li > div.nom {
  font-weight: bold;
  margin-left: 1em;
  margin-top: .5em;
  padding-left: 2.5em;
}
#tableau_ueups > div > ul.ueups > li > ul.ueups > li > ul.ueups ul.ueups > li > ul.ueups {
  margin-left: 1em;
}

/*# sourceMappingURL=impression.css.map */
